.btn {
    padding: 8px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid  rgba(172, 132, 226,0.2);
    width: 120px;

}
.btn:hover{
    background-color: rgba(172, 132, 226,0.2);
}
.form{
    border: 1px solid rgba(172, 132, 226,0.2);
    width: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.formItem{
    margin-bottom: 25px;
}